
<section>
  <div class="backTo">
    <h2><a href="/team">Meet Our Team!</a></h2>
  </div>
  <div id="memberDes">
    <div class="memberImg">
      <img src="/images/{{ person.picture }}" alt="{{ person.name }}'s image">
    </div>
    <div class="memberInfo">
      <h3>{{ person.name }}</h3>
      <h4>{{ person.role }}</h4>
      <p>{{ person.description }}</p>
    </div>
  </div>
</section>